<h1 class="text-center mt-4">User List</h1>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<%= render 'users/user' %>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
